* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
  }
  
  .page {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(52, 81, 118);
    background: linear-gradient(
      151deg,
      rgba(52, 81, 118, 1) 0%,
      rgba(124, 145, 194, 1) 22%,
      rgba(124, 145, 194, 1) 42%,
      rgba(167, 182, 219, 1) 61%,
      rgba(218, 215, 237, 1) 82%
    );
  
    /* background: rgb(52, 81, 118);
    background: linear-gradient(
      151deg,
      rgba(52, 81, 118, 1) 0%,
      rgba(124, 145, 194, 1) 21%,
      rgba(183, 167, 214, 1) 43%,
      rgba(161, 175, 210, 1) 64%,
      rgba(211, 208, 235, 1) 82%
    ); */
  }
  .card {
    width: 60rem;
    height: 40rem;
    background-color: transparent;
    perspective: 1000px;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    position: relative;
  }
  
  .left {
    width: 92.6%;
    background-color: #1a293b;
  }
  
  .right img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .left-cont {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .left-slider {
    display: flex;
    overflow: hidden;
    transition: all 300ms;
  }
  
  .slide-from {
    transform: translateX(-50%);
  }
  
  .slider {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    min-height: 7rem;
    padding: 0 5rem;
    /* border: 2px solid red; */
  }
  
  .btn {
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: #aeb9c8;
    font-size: 1.05rem;
    padding: 0.5rem;
  }
  
  .current-slide {
    color: #d6dce4;
    border-bottom: 2px solid #baa7d5;
  }
  
  .container {
    height: 100%;
    width: 100%;
    /* padding: 1.5rem 0; */
    padding: 1.5rem 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    box-sizing: border-box;
  }
  
  .container.register {
    padding: 1.5rem 5rem;
  }
  
  .container.register h1 {
    font-size: 1.75rem;
  }
  
  .header {
    color: #d6dce4;
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
  }
  
  .header h1 {
    font-size: 2rem;
  }
  
  .header p {
    /* font-size: 0.95rem; */
    font-weight: 300;
    color: #aeb9c8;
  }
  
  .password {
    display: flex;
    column-gap: 0.6rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;
    /* height: 100%; */
    width: 100%;
  }
  
  .login-form .text-input {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    border: none;
    background-color: #5672a1;
  }
  
  .register .login-form .text-input {
    padding: 0.9rem;
  }
  
  .login-cont {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
  }
  
  .input {
    position: relative;
    /* border: 2px solid #9aa8bb; */
  }
  
  .input input {
    padding: 1rem 0 0 0;
    color: #d6dce4;
  }
  
  .input input::placeholder {
    color: #9aa8bb;
  }
  
  .input input:focus {
    border: none;
    outline: none;
    border-left-width: 2px;
    border-left-color: #baa7d5;
    border-left-style: solid;
  }
  
  .login-form button {
    width: 60%;
    padding: 0.7rem 1rem;
    background-color: #baa7d5;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    font-size: 1.05rem;
    color: #1a293b;
  }
  
  .login-form button:hover {
    background-color: #a993c9;
  }
  
  .checkbox {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.2em;
    color: #9aa8bb;
    position: relative;
  }
  
  .checkbox input {
    opacity: 0;
    z-index: 99;
  }
  
  .checkbox label {
    font-size: 0.9rem;
    cursor: pointer;
    display: inline-block;
  }
  
  .checkbox label::before {
    content: "";
    position: absolute;
    width: 0.55rem;
    height: 0.55rem;
    border: 2px solid #baa7d5;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .checkbox input:checked + label::before {
    content: "";
    position: absolute;
    width: 0.65rem;
    height: 0.65rem;
    border: 2px solid #baa7d5;
    /* box-shadow: 0 0 1px 1px #aeb9c8; */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .checkbox input:checked + label::after {
    content: "";
    position: absolute;
    width: 0.9rem;
    height: 0.6rem;
    background-image: url(/img/checked1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 2px solid #baa7d5; */
    /* box-shadow: inset 0 0 1px 1px #aeb9c8; */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .hor-line {
    height: 1px;
    width: 100%;
    background-color: #aeb9c8;
  }
  
  .other {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: #5d7491;
  }
  
  .social {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    /* border: 2px solid white; */
  }
  
  .social a {
    text-decoration: none;
    color: #5d7491;
  }
  
  .fa-apple {
    font-size: 1.5rem;
  }
  
  .fa-facebook {
    font-size: 1.5rem;
  }
  
  .fa-google {
    font-size: 1.5rem;
  }
